<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: {turbo: false} }) do |f| %>
	<%= render "devise/shared/error_messages", resource: resource %>
	<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
		<div class="w-full max-w-md space-y-2">
			<div>
				<h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50">Manage your Account</h2>
				<p class="mt-2 text-center text-sm text-gray-600">
					One step closer as Blog&apos;22 creator
				</p>
			</div>
			<div class="-space-y-px">
				<div class=" rounded-md shadow-sm">
					<%= f.label :name, class:"sr-only"  %>
					<%= f.text_field :name, autofocus: true, autocomplete: "name", class:"relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 outline-none focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm mb-3", placeholder:"Name" %>
				</div>
				<div class=" rounded-md shadow-sm">
					<%= f.label :email, class:"sr-only"  %>
					<%= f.email_field :email, autocomplete: "email", class:"relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm mb-3", placeholder:"Email address" %>
				</div>
				<div>
					<%= f.label :bio, class:"sr-only"  %>
					<div class="mt-1">
						<%= f.text_area :bio, cols: 30, rows: 10, autocomplete: "name", class:"relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 outline-none focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm mb-3", placeholder:"Tell us about yourself" %>
					</div>
				</div>
				<div class=" rounded-md shadow-sm">
					<%= f.label :work, class:"sr-only"  %>
					<%= f.text_field :work, autofocus: true, autocomplete: "work", class:"relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 outline-none focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm mb-3", placeholder:"Your Work?" %>
				</div>
				<div class=" rounded-md shadow-sm">
					<%= f.label :location, class:"sr-only"  %>
					<%= f.text_field :location, autofocus: true, autocomplete: "location", class:"relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 outline-none focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm mb-3", placeholder:"Your location - City, Country" %>
				</div>
				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
					<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>
				<div class=" rounded-md shadow-sm">
					<%= f.label :password, class:"sr-only" %>
					<%= f.password_field :password, autocomplete: "new-password", class:"relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm", placeholder:"Password"  %>
				</div>
				<% if @minimum_password_length %>
					<span class="text-xs dark:text-gray-50 text-gray-900">(<%= @minimum_password_length %> characters minimum) - Leave blank if you do not want to change it</span>
				<% end %>
				<div class=" rounded-md shadow-sm">
					<%= f.label :password_confirmation, class:"sr-only" %>
					<%= f.password_field :password_confirmation, autocomplete: "new-password", class:"relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm", placeholder:"Password Confirmation"  %>
				</div>
				<span class="text-xs dark:text-gray-50 text-gray-900">Current password needed to confirm changes</span>
				<div class=" rounded-md shadow-sm">
					<%= f.label :current_password, class:"sr-only" %>
					<%= f.password_field :current_password, autocomplete: "current-password", class:"relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm", placeholder:"Current Password"  %>
				</div>
			</div>
			<div class=" rounded-md shadow-sm">
				<%= f.submit "Update", class:"group relative flex w-full justify-center rounded-md border border-transparent bg-blue-700 py-2 px-4 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2" %>
			</div>
		<% end %>
		<div class=" rounded-md shadow-sm">
			<%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"group relative flex w-full justify-center rounded-md border border-transparent bg-red-700 py-2 px-4 text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2" %>
		</div>
		<div class=" rounded-md shadow-sm">
			<%= link_to "Back", :back, class:"group relative flex w-full justify-center rounded-md border border-transparent bg-gray-700 py-2 px-4 text-sm font-medium text-white hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2" %>
		</div>
	</div>
</div>
