<div id="<%= dom_id post %>">
	<div class="group relative transition duration-500 ease-in-out hover:-translate-y-1 hover:shadow-lg cursor-pointer ">
		<div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80 shadow-xl">
			<%= link_to post do %>
				<%= image_tag post.image, class: "h-full w-full object-cover object-center lg:h-full lg:w-full" %>
			<% end %>
		</div>
		<div class="mt-4 flex justify-between">
			<div>
				<%= link_to post.title, post, class: "text-gray-700 dark:text-white text-sm font-bold hover:underline cursor-pointer" %>
				<p class="mt-1 text-sm text-gray-500 dark:text-gray-400"> <%= post.created_at.strftime("%d %b %Y") %> | <%= link_to post.user.name, user_path(post.user), class: "dark:hover:text-gray-50" %> </p>
				<p class="mt-1 font-semibold text-xs text-gray-500 dark:text-gray-400"> <%= pluralize(post.views, "views") %> </p>
			</div>
		</div>
	</div>
</div>
