<div id="<%= dom_id category %>">
	<%= link_to category do %>
		<div class=" bg-gray-100 dark:bg-slate-900 mx-auto flex justify-center items-center">
			<div class="mb-3 flex w-full max-w-screen-xl transform cursor-pointer flex-col justify-between rounded-md bg-white bg-opacity-75 p-6 text-slate-800 transition duration-500 ease-in-out hover:-translate-y-1 hover:shadow-lg dark:bg-slate-700 dark:bg-opacity-25 dark:text-slate-300 lg:flex-row lg:p-4">
				<div class="flex w-full flex-row lg:w-3/12">
					<div class=" self-center overflow-x-hidden">
						<div class="w-full text-xl font-extrabold leading-5 tracking-tight"><%= category.name %></div>
					</div>
				</div>
				<div class="w-full self-center px-1 pt-4 pb-2 lg:w-1/6 lg:px-0 lg:pt-0 lg:pb-0">
					<div class="status-bars w-full pt-2">
						<div class="flex flex-row lg:pr-6">
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<div class="flex justify-between items-center mb-3">
	<div>
	</div>
	<div>
		<% if action_name != "show" %>
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
				<%= link_to "View", category, class:"bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold  px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" %>
			</td>
			<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
				<%= link_to 'Edit', edit_category_path(category), class:"bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold  px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" %>
			</td>
		<% end %>
	</div>
</div>
